*{
    margin: 0;
    padding: 0;
}
:root{
    --color : rgb(157, 98, 186);
    --seccolor: rgb(186, 46, 181);
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 34px;
    border: 2px solid var(--seccolor);
}
ul li:first-child{
    --color: rgb(213, 150, 33);
    background-color: var(--color,blue);
}
.nav{
    background-color: var(--color);
}
.container{
    background-color: var(--seccolor);
}