nav ul li{
    list-style: devanagari;
    /* list-style-type: ""; emoji can be set here */
    background-color: yellow;
    list-style-position: inside;
    border: 2px solid black;
    list-style-image: url("tree-736885_640.jpg");
}